footer {
  background: url('./img/footer/fundo-footer.png') no-repeat bottom / contain fixed #6278F7;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 80px 165px;
}

.social-media {
  display: flex;
  gap: 38px;
}

.social-media a {
  cursor: pointer;

  height: 32px;
  width: 32px;
}

footer image {
  width: 166px;
}

footer span {
  color: #FFF;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;

  line-height: 1.5rem;
}