footer {
  background: url('../../images/fundo-footer.png') no-repeat bottom / contain fixed #6278F7;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 80px 165px;
}

.social-media {
  display: flex;
  gap: 38px;
}

.social-media a {
  cursor: pointer;

  height: 32px;
  width: 32px;
}

footer > img {
  width: 166px;
}

footer span {
  color: #FFF;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;

  line-height: 1.5rem;
}

@media screen and (min-width: 360px) and (max-width: 1120px) {
  footer {
    flex-direction: column;
    gap: 2.5rem;
    padding: 40px 20px;
  }

  .social-media {
    gap: 45px;
  }

  .social-media a, .social-media a > img {
    height: 25px;
    width: 25px;
  }

  footer > img {
    width: 120px;
  }

  footer span {
    font-size: .75rem;
  }
}