.formulario {
  display: flex;
  justify-content: center;

  margin: 80px 0;
}

.formulario form {
  background-color: #F2F2F2;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);

  padding: 2.25rem 4rem;

  max-width: 80%;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .formulario form {
    border-radius: 0;

    padding: 2rem 1.75rem;

    max-width: 100%;
  }

  .formulario form > h2 {
    text-align: center;
  }
}